@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap'); */

*, *:before, *:after{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

body,
.header-container,
header,
.sidebar,
.divider,
.sidebar a,
.content,
.content ul,
tbody tr td {
    transition: background-color 0.6s ease, color 0.4s ease;
}
    

body {
    font-family: 'Merriweather', sans-serif, Arial;
    font-size: 14px;
    width: 100vw;
    min-height: 100vh;
}
.header-container{
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 100;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
}
label{
    margin-top: 10px;
    font-size: 0.8rem;
    width: 50%;
    max-width: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
}
header label select {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 50%;
    min-width: 100px;
    margin-left: 5px;
    padding: 2px 5px;
    border-radius: 5px;
    &:focus{
        box-shadow: inset 2px 2px 4px black;
    }
}
.divider {
    width: 110%;
    height: 25px;
    background: #dfdfe2;
}
.divider i{
    margin: 3px 10px;
}
.divider button{
    margin-left: 230px;
    padding: 0 10px;
}

.sidebar {
    padding: 10px 20px;
    width: 300px;
    border-right: 2px solid #e2e2e2;
    min-height: 100vh;
}
.sidebar p{
    margin-bottom: 20px;
}
.sidebar p:hover{
    background: skyblue;
}

.sidebar p::before{
    content: '';
    position: absolute;
    top: 12;
    left: 10px;
    height: 20px;
    width: 5px;
    background: hotpink;
}

.sidebar .topik {
    padding-top: 10px;
}

.sidebar a {
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

main {
    display: flex;
}

main .content {
    width: 100%;
    padding: 40px 150px;
}

.content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.content p, h4 {
    margin-top: 10px;
}

.content.home {
    text-align: center;
}

.content h3 {
    margin-top: 25px;
}

.content img,
.media img
{
    height: 400px;
    object-fit: cover;
    border: 1px solid black;
}
.content ul{
    margin: 10px 5px;
}
.content li{
    margin-left: 20px;
}
.content.curing ul:nth-of-type(odd){
    background: lightgreen;
    padding: 5px;
}
.content.curing ul:nth-of-type(even){
    background: yellow;
    padding: 5px;
}

.features li {
    list-style: none;
}

table{
    margin-top:15px;
    margin-bottom: 15px;
    border-collapse: collapse;
}
table caption{
    font-weight: bold;
    margin: 10px 0;
}
thead tr th:nth-of-type(1){
    width: 100px;
}
thead tr th{
    border-spacing: 20px;
    width: 40%;
    max-width: 250px;
    border: 1px solid black;
    padding: 8px 20px;
    background: #1b1c4b;
    color: white;
}
tbody tr td{
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

footer{
    position: fixed; 
    border-radius: 5px;
    color: white;
    bottom: 5px;
    right: 5px;
    z-index: 200;
}

@media (max-width: 420px) {
    html, body{
        overflow-x: hidden;
    }
    .header-container{
        position: fixed;
        top: 0;
        background: #fff;
        z-index: 100;
    }
    .sidebar {
        position: fixed;
        top: 60px;
        transform: translate(-120%);
        width: 90%;
        max-width: 300px;
        height: 100vh;
        background: #f9f9f9;
        transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
        z-index: 10;
        border-right: none;
      }
    .sidebar p{
        margin-bottom: 10px;
    }  
    .sidebar.show {
        transform: translateX(0%);
        left: 0;
    }
    .fa-rotate-180 {
        transform: rotate(180deg);
        transition: transform 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    header, 
    main .content, 
    .divider{
        padding: 0 15px;
    }
    .divider{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .divider button{
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-right: 10px;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
    }
    label{
       margin-right: 25px;
    }
    select{
        font-size: 0.8rem;
    }

    main .content{
        margin-top: 80px;
        width: 100%;
    }
    .content h4{
        text-align: center;
        margin-bottom: 8px;
    }
    .content.ec h4, p{
        margin: 10px 0;
    }
    .hardneck-softneck ul:nth-of-type(odd){
        background: lightgreen;
    }
    .hardneck-softneck ul:nth-of-type(even){
        background: yellow;
    }
    .hardneck-softneck li{
        margin-left: 20px;
    }
    .content.varietas ul{
        margin-top: 15px;
    }
    .content.varietas ul:nth-of-type(odd){
        margin: 10px 0px 0px;
        background: lightgreen;
    }
    .content.varietas ul:nth-of-type(even){
        background: yellow;
    }
    .content.varietas li{
        list-style: disc;
        margin-left: 45px;
    }
    .content .satuan{
        display: flex;
        flex-direction: column;
    }
    .content img {
        max-width: 100%;
        height: auto;
    }
};


 